body{
	background-color: lightblue;
	font-family: sans-serif;
	background-image: url(Kingdom.jpg);
	background-size: 100%;
	background-position: bottom;
}
header{
	background-image: url(KingdomHeader.jpg);
	background-repeat: no-repeat;
	background-size: 635px 250px;
	background-position: center top;
	margin: 0 auto;
	background-color: black;
	padding: 0px;
	padding-top: 15px;
}
img{
	padding-left: 10px;
}
h1{
	margin-bottom: 0px;
	padding-left: 500px;
	font-family: sans-serif;
}
h2{
	padding-left: 10px;
}
a{
	color: white;
	text-decoration: none;
}

a.readmore{
	font-weight: bold;
	color: darkgreen;
}
p{
	padding-left: 10px;
}
p.top-p{
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 15px;
}
p.bold{
	font-weight: bold;
}
div.top-menu{
	color: black;
	background-color: black;
	font-size: 20px;
	word-spacing: 30px;
}
div.kingdom{
	margin: 0 auto;
	background-color: lightgreen;
	width: 800px;
}
object{
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}