body{
	background-color: lightblue;
	font-family: sans-serif;
	background-image: url(Destiny.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
}
header{
	margin: 0 auto;
	background-color: teal;
	padding: 0px;
	padding-top: 15px;
}
h1{
	margin-bottom: 0px;
	padding-left: 500px;
	font-family: sans-serif;
}
h2{
	padding-left: 10px;
}
a{
	color: white;
	text-decoration: none;
}

a.readmore{
	font-weight: bold;
	color: darkgreen;
}
p.top-p{
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 15px;
}
p{
	padding-left: 10px;
}
p.bold{
	font-weight: bold;
}
div.top-menu{
	color: black;
	background-color: black;
	font-size: 20px;
	word-spacing: 30px;
}
div.wrapper{
	border-spacing: 50px;
	display: table-row;
	margin: 0 auto;
	width: 900px;
	background-color: white;
}
div.bio{
	display: table-cell;
	margin: 0 auto;
	background-color: lightgreen;
	width: 500px;
}
div.destiny{
	display: table-cell;
	margin: 0 auto;
	background-color: green;
	width: 500px;
}
div.kingdom{
	display: table-cell;
	margin: 0 auto;
	background-color: green;
	width: 500px;
}
div.Pokemon{
	display: table-cell;
	margin: 0 auto;
	background-color: lightgreen;
	width: 500px;
}
img.banner{
	width: 130px;
	height: 600px;
}
div.banner {
	margin-right: 100px;
	float: right;
	width: 100px;
	height: 400px;
}